{% extends 'base_layout.html' %}
{% block content %}
<br>
<div class="article-detail">
    <div class="container">
        <div class="text-center">
            <!--    <img class="img-fluid mb-3" src="{{ article.thumb.url }}"/> -->
            <h2 class="text-center display-4">{{ article.title }}</h2>
            <br>
            <div class="text-justify">
                <p class="lead">{{ article.body }}</p>
                <p class="lead">{{ article.date }}</p>
                <p class="lead"> added by {{ article.author }}</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}