{% extends 'blog/header.html' %}
{% block content %}
<nav class="navbar navbar-toggleable-sm bg-light navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href='/'>Home</a>
                <a class="nav-item nav-link active" href='/blog/'>Blog</a>
                <a class="nav-item nav-link" href='/about/'>About</a>
                <a class="nav-item nav-link" href='/contact/'>Contact</a>
            </div>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid bg-faded text-muted text-center mb-0">
    <div class="container">
        <h1 class="display-1">Mood Balance</h1>
        <p class="lead">Turn on the light</p>
    </div>
</div>

<div class="articles">
    {% for article in articles %}
        <div class="article">
            <h2><a href = '#'>{{ article.title }}</a></h2>
            <p>{{article.snippet}}</p>
            <p>{{ article.date }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}