{% extends 'base_layout.html' %}
{% block content %}
<br>
<div class="container text-center">
    <div class="text-center display-4">About Me</div>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <img src="/static/me4.jpg" class="img-fluid border border-white mb-4" title="Jimmy and the Sea">
        </div>
        <div class="col-2"></div>
    </div>
    <br>
    <div class="row mb-5">
        <p class="col-2"></p>
        <p class="col-8 lead text-justify">
            I come from Lithuania and my real name is hard to pronounce for most foreigners. It stands for “Joyful” - a
            trick of fate, I sometimes think to myself. An introvert to the bone, I do not like too much attention. And
            the topic of this blog is somewhat sensitive, thus I decided to hide under a nickname - call me Jimmy. At
            least for now, hope you understand.<br><br>

            I am 33 years old and I have been dealing with depressive states, anxiety, mood swings, recurring thoughts
            and symptoms of OCD since I was a teenager. Needless to say, all these problems affected my results in
            studies, work and relationships with people I love - my family, friends, girlfriends and sometimes even
            random folks.<br><br>

            For years I tried to heal myself with alcohol, weed, sleep and similar escapism. It was kinda OK during the
            normal states of my existence, yet during the life’s ups and downs, these habits would swing my feelings to
            extreme highs and lows making me inactive, easily irritated, depressed or helpless.<br><br>

            A few years ago, when I was going through a very low patch, my mother encouraged me to seek help. I started
            therapy and was lucky to meet a good doctor who understood me. Now I am sober and more in control of my
            life. Being me still ain’t a candy, but now I can deal with life’s challenges with more ease and
            self-esteem. My doctor calls my package of problems Cyclothymia.<br><br>

            Mood Balance is my blog about reaching for the joy in life. I will write and share links about things that
            help me deal with Cyclothymia - therapy, staying sober, yoga, meditation, sports, food or taking a walk once
            in a while when nothing else helps.<br><br>

            <strong>Disclaimer:</strong> this site is not for whining about how hard mine or anybody else's state of being is. Yes, life is hard sometimes.
            For everyone. Yet, here I want us to focus on the good things.
        </p>
        <p class="col-2"></p>
    </div>
</div>

{% endblock %}
